<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alice_v._3._2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Alice_v._3._2.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Players" serializeAs="String">
                <value />
            </setting>
            <setting name="Motd" serializeAs="String">
                <value />
            </setting>
            <setting name="LauncherVersion" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="minRAM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="maxRAM" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="saveFreq" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="saveCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="chatDef" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ipFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clientBan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="javaDirectory" serializeAs="String">
                <value />
            </setting>
        </Alice_v._3._2.Properties.Settings>
    </userSettings>
</configuration>